<%if @message%>
  <%=@message%>
<%end%>

<table class="user_form">
  <form action="/login" method="POST">
    <tr>
      <td>Email:</td>
      <td><input type="text" name="email" required/></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" name="password" required/></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Submit"/></td>
    </tr>
  </form>
</table>
