<%if @message%>
  <%=@message%>
<%end%>
<table class="user_form">
  <form action='/signup' method="post">
    <tr>
      <td>Username:</td>
      <td><input type="text" name="username" required/></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input type="text" name="email" required/></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" name="password" required/></td>
    </tr>
    <tr>
      <td>Confirm Password:</td>
      <td><input type="password" name="password1" required/></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Submit"/></td>
    </tr>
  </form>
</table>
