<!doctype html>
<html>
  <head>
    <title>Activity Tracker</title>
    <link rel="stylesheet" type="text/css" href="<%=url(stylesheets/main.css)%>">
  </head>
  <body>
    <nav>
      <%if logged_in?%>
        <a href="/logout">Logout</a>
      <%end%>
    </nav>
    <%=yield%>
    <footer>
    </footer>
  </body>
</html>
